@model Universities2.Models.ClassSubject 
@{
    ViewData["Title"] = "SubInfo";
}
<h1>Univ2</h1>
>
<div class=" col-5">
    <div class=" row " style=" background-color : aliceblue  ; align-content:center  ">

        
        
            <h5 class="card-title">name:@Model.SubName</h5>
            <p class="card-text">place:@Model.SubInfo </p>

        
    </div>
</div>