@{
    ViewData["Title"] = "Index1";
}
<div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">Malak</p>
    <hr class="my-4">
    <p>.التصميم دشتغل عليه وازبطو بس اغدر(:</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Test!!click here</a>
</div>
