@{
    ViewData["Title"] = "Univp1";
}
<h1>بطاقة حمراء-جامعة مغلقة</h1>
@foreach (var u2 in ViewData["ClassUniv2"] as List<ClassUniv2>)
{
    
    
       
            <div class="row" >
                <div class='card@(u2.UnivOpen? "text-white bg-light mb-3":"text-white bg-danger mb-3")'>
                    <img src="/images/@u2.UnivPhoto" style=" width :600px " class="card-img-top" alt="@u2.UnivName  ">
                    <div class="card-body">
                        <h5 class="card-title">@u2.UnivName</h5>
                        <p class="card-text">place-  @u2.UnivPlace  </p>
                    </div>
                </div>
            </div>
       
    
    
}
