@model Universities2.Models.ClassUser2
@{
    ViewData["Title"] = "UserProfileMainView";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>UserProfileMainView</h2>
<h1>Welcome @Model.UserName</h1>


